<div class="logo">
    <img src="/svg/suntrip2.svg"/>
</div>
<div class="admin-wrapper">
    <h1>Administration</h1>

    <h2>Biljettbokningar</h2>

    <table id="orders">
        <tr>
            <th>Namn</th>
            <th>Telefonnummer</th>
            <th>E-post</th>
            <th>Bokningsdatum</th>
            <th>Betalt</th>
            <th>Betalningsdatum</th>
            <th>Åtgärder</th>
        </tr>
    </table>
</div>