<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bokningsapp</title>

    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/js/vendor.js"></script>
    <script src="~/js/scripts.js"></script>
    <script>
        require(['web/init'], function (init) {
            init();
        });
    </script>
    @RenderSection("scripts", required: false)


    <environment names="Development">
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </environment>
</body>
</html>
