<form id="order-form">
    <input type="hidden" name="ticketType" id="ticketType" />

    <div class="form-group">
        <label for="name">Namn</label>
        <input type="text" name="name" id="name" required />
    </div>

    <div class="form-group">
        <label for="address">Adress</label>
        <input type="text" name="address" id="address" required />
    </div>

    <div class="form-group">
        <label for="zipcode">Postnummer</label>
        <input type="text" name="zipcode" id="zipcode" required />
    </div>

    <div class="form-group">
        <label for="city">Ort</label>
        <input type="text" name="city" id="city" required />
    </div>

    <div class="form-group">
        <label for="phone">Mobilnummer</label>
        <input type="tel" name="phone" id="phone" required />
    </div>

    <div class="form-group">
        <label for="email">E-post</label>
        <input type="email" name="email" id="email" required />
    </div>

    <div class="form-group ticket-count-container">
        <label for="ticket-count">Antal biljetter</label>
        <select name="ticket-count" id="ticket-count">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    </div>

    <h2 id="extra-names-header" class="hidden">Övriga namn</h2>

    <div class="form-group extra-name hidden">
        <label for="extra-name-1">Namn 1</label>
        <input type="text" name="extra-name-1" id="extra-name-1" />
    </div>

    <div class="form-group extra-name hidden">
        <label for="extra-name-2">Namn 2</label>
        <input type="text" name="extra-name-2" id="extra-name-2" />
    </div>

    <div class="form-group extra-name hidden">
        <label for="extra-name-3¨">Namn 3</label>
        <input type="text" name="extra-name-3" id="extra-name-3" />
    </div>

    <div class="form-group extra-name hidden">
        <label for="extra-name-4">Namn 4</label>
        <input type="text" name="extra-name-4" id="extra-name-4" />
    </div>

    <div class="form-group extra-name hidden">
        <label for="extra-name-5">Namn 5</label>
        <input type="text" name="extra-name-5" id="extra-name-5" />
    </div>

    <button type="submit">Skicka</button>
</form>