<form>
    <div class="form-group">
        <label for="name">Namn</label>
        <input type="text" name="name" id="name" required />
    </div>

    <div class="form-group">
        <label for="address">Adress</label>
        <input type="text" name="address" id="address" required />
    </div>

    <div class="form-group">
        <label for="zipcode">Postnummer</label>
        <input type="text" name="zipcode" id="zipcode" required />
    </div>

    <div class="form-group">
        <label for="city">City</label>
        <input type="text" name="city" id="city" required />
    </div>

    <div class="form-group">
        <label for="phone">Mobilnummer</label>
        <input type="tel" name="phone" id="phone" required />
    </div>

    <div class="form-group">
        <label for="email">E-post</label>
        <input type="email" name="email" id="email" required />
    </div>

    <div class="form-group">
        <label for="ticket-count">Antal biljetter</label>
        <select name="ticket-count" id="ticket-count">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    </div>

    <button type="submit">Skicka</button>
</form>