<div class="confirmation">
  <div class="logo-static">
      <img src="svg/suntrip2.svg"/>
    </div>
  <div>
      <h1>Rattarattara!</h1>
      <h1>Va kul att ni ville komma!</h1>
      <span>Om en stund kommer det ett mail som berkäftar bokningen. Betalningsinformation kommer lite senare</span>
  </div>
  <div class="citat">
    <p>—F-n Berra, ja ä tösstig</p>
    <p>—Ska vi ta första bästa eller därborta?</p>
    <p>—Äh, vi tar första bästa</p>
    <p>—F-n Robban, du har ingen karaktär!</p>
  </div>
</div>