@model WebApplication.Models.HomeModel

@if(!Model.Authenticated) {
    <div class="login-panel">
        <form method="GET">
            <input name="auth" id="auth" type="text" required />
            <button type="submit">Logga in!</button>
        </form>
    </div>
} else {
    <div>
        <p>Här kan man formulära sig. Det finns för närvarande @Model.TicketsLeft biljetter kvar.</p>
    </div>

    @Html.Partial("Partials/Form")
}