@model WebApplication.Models.HomeModel

@if(!Model.Authenticated) {
<div class="login-panel">
  <form method="GET">
    <input name="auth" id="auth" type="text" autocomplete="false" autofocus required />
    <button type="submit">Logga in!</button>
  </form>
</div>
} else {
<div class="content-wrapper">
  <div class="start-text">
    <span>Umeborna reser inte till någonting,</span>
    <span>dom reser från någonting.</span>
  </div>

  
  <div class="content">
    <div class="banner">
      <img src="images/suntrip_live.jpg"/>
    </div>
    <div class="logo">
      <img src="svg/suntrip2.svg"/>
    </div>
    <div class="texts">
      <h1>
        <p class="sub">Den 6:e Maj återuppstår Suntrip för en kväll med ett ända mål;</p>
        <p class="head">att ta med er på en resa tillbaka till 80-talet!</p>
      </h1>
      
      <p>- Men vad händer under kvällen??</p>
      <p>Det är lite hemligt men:</p>
      <ol>
        <li>Vi träffast på Angelini mitt inne i stan och får en fördrink</li>
        <li>resan bär av mot okänt resemål</li>
        <li>under resans gång hinner vi med en taxfree-depå</li>
        <li>väl framme på vår destinaton dukas en underbar middag upp.</li>
        <li>plocka kulor, kolla om vi tål starksprit & lär oss uttala Stork.. Storch (eller hur var det) och en massa annat! =)</li>
      </ol>
      
      
      
    </div>
    <div class="puffs">
      <article class="puff">
        <img src="images/klader.jpg"/>
        <h1>TEMA: 80-TALS SOMMAR</h1>
        <span>Sparka av dig snökängorna, på med axelvaddarna och solbrillorna så drar vi till solen!</span>
      </article>
      <article class="puff">
        <img src="images/invalidos.jpg"/>
        <h1>LIVE PÅ SCEN INVALIDOS!</h1>
        <span>Under kvällen spelar Invalidos (Over & Out) sköna 80-talsklassiker!</span>
      </article>
      <article class="puff">
        <img src="images/toa-sup.jpg"/>
        <h1>TAXFREE INGÅR!</h1>
        <span>På vår resa kommer vi hinna med ett snabbt taxfree-stopp. självklart ingår även detta i resans pris.</span>
      </article>
    </div>
    <div class="puffs">
      <article class="puff">
        <img src="images/buss.jpg"/>
        <h1>VÅRA RESELEDARE TAR HAND OM ER!</h1>
        <span></span>
      </article>
      <article class="puff">
        <img src="images/dansa.jpg"/>
        <h1>DANS UTVLOVAS!</h1>
        <span>Plocka kulor! Plocka med höger... plocka med vänster... plocka kulor!</span>
      </article>
      <article class="puff">
        <div class="flippy">
          <img src="images/sup-1.jpg"/>
          <img class="hidden" src="images/sup-2.jpg"/>
        </div>
        <h1>BJUD IN DINA GLADA VÄNNER!</h1>
        <span>Än finns det biljetter kvar, bjud in dina vänner! Nått mer borde vi skriva</span>
      </article>
    </div>
    <p class="gas">Brännsletillägget är redan betalt så vad väntar du på?<p>
    <div class="ticket-type">
      <h2>HELPENSION</h2>
      <ol>
        <li>
          Resa (utresa 6:e maj)
        </li>
        <li>
          Middag
        </li>
        <li>
          Välkommstdrink
        </li>
        <li>
          Taxfree
        </li>
      </ol>
      <span class="price">495:-</span>
      @if(Model.TicketsLeft > 0) {
        <button class="order" data-ticket-type="large">Boka Helpension</button>
      } else {
        <span class="no-tickets">Tyvärr verkar vi vara fullbokade för tillfället!</span>
      }
    </div>
    
    <div class="form hidden">
      @Html.Partial("Partials/Form")
    </div>
    <div class="movie">
      <iframe src="https://www.youtube.com/embed/Kgs7UJkP8L0" frameborder="0" allowfullscreen></iframe>
    </div>
    <section class="footer">
      
      <!--div class=columns >
        <div class="column">
          <span
        </div>
      </div-->
      <h1>Vi som anordnar detta är:</h1>
      <div class="organizers">
        <article>
          <img src="images/ds.gif"/>
          <h1>DICK SELBERG</h1>
          <p>Favoritcitat från filmen:</p>
          <span>Va e're för snack? Bärra hem Berra?</span>
        </article>
        <article>
          <img src="images/mn.gif"/>
          <h1>MICKE NYGÅRD</h1>
          <p>Favoritcitat från filmen:</p>
          <span>Finns det svenskt kaffe på hotellet?</span>
        </article>
        <article>
          <img src="images/ah.gif"/>
          <h1>ALEXANDER HÅKANSSON</h1>
          <p>Favoritcitat från filmen:</p>
          <span>a, vad fan, man var ju nykter i morse men nu börjar det ordna upp sig!</span>
        </article>
      </div>
      
      <span class="mail">Frågor på detta?? maila oss så svarar vi så fort vi kan =) <a href="mailto:info@suntripfesten.se">info@suntripfesten.se</a></span>
      
    </section>
    
  </div>
</div>
}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91058423-1', 'auto');
  ga('send', 'pageview');

</script>