.form{
  max-width: 600px;
  padding: 0 10px;
}
.form-group{
      margin: auto;
  margin-bottom: 5px;
  input{
    border: 3px solid #E8970C;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    box-sizing: border-box;
  }
  /*input{
    border: none;
    border-bottom: 2px solid #FF880D;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    background: none;
    &:focus{
      background: rgba(255,255,255,0.7);
      
    }
  }*/
  
}
button{
  display: block;
  border: none;
  background: @brand-yellow;
  border-radius: 5px;
  padding: 10px 20px;
  color: @brand-red;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  margin: auto;
  &:hover{
    
    background: #FFC61D;
  }
}

.form.hidden{
  max-height: 0;
  
}
.ticket-count-container{
  font-size: 20px;
  margin: 10px 0;
  label{
    
  }
  
  
}
.form{
  max-height: 900px;
  #mixin.transition(max-height 2s);
  overflow: hidden;
  display: block !important;
  margin-bottom: 30px;
}