@import "form.less";

@brand-red:   #eb0822;
@border-color: #E8970C;

body {
  background-color: #fdbe03;
  color: @brand-red;
  font-family: "Times New Roman", Georgia, Serif;
}

:focus {
  outline: none;
}

.login-panel {
    max-width: 500px;
    margin: auto;

    input {
        font-size: 200px;
        border: 0;
        background-color: transparent;
        text-decoration: underline;
    }

    button {
        width: 100%;
        background-color: cornflowerblue;
        border: 0;
        height: 25px;
    }
}

.hidden {
    display: none;
}

.start-text{
  display: none;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 45%;
  text-align: center;
  width: 100%;
  opacity: 0;
  span{
    white-space: nowrap;
  }
}

.logo{
  img{
    width: 150px;
  }
}
.ticket-type{
  border: 2px solid @border-color;
  padding: 20px;
  h2{
    margin: 0;
  }
  ol{
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 5px;
    }
  }
}
.content {
  max-width: 600px;
  margin: auto;
  
  h1 {
    text-align: center;
    .sub{
      font-size: 25px;
    }
    .head{
      font-size: 37px;
    }
    p{
      margin: 0;
    } 
  }
  .texts{
    text-align: center;
    > p {
    font-size: 20px
    }
  }
}
.stars{
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 15px;
  padding: 5px;
}