@import "form.less";
@import "login.less";
@import "admin.less";
@import "mixin.less";


@brand-red:   #eb0822;
@brand-yellow:   #fdbe03;
@border-color: #E8970C;
@bg-color: white;

body {
  background-color: @bg-color;
  color: @brand-red;
  font-family: "Times New Roman", Georgia, Serif;
  margin: 0;
}

:focus {
  outline: none;
}



.hidden {
    display: none;
  
}

.confirmation{
  max-width: 600px;
  margin:5vh auto; 
  padding: 10px;
  .citat{
    margin-top: 50px;
    &:before, &:after{
      content: '"';
      font-size: 55px;
      display: block;
      height: 27px;
    }
  }
}

.logo-static{
  padding: 30px;
  img{
    max-width: 100%;;
  }
}

.start-text{
  //display: none;
  font-size: 50px;
  
  font-weight: bold;
  position: absolute;
  top: 40%;
  text-align: center;
  width: 99%;
  opacity: 0;
  z-index: 11;
  span{
    white-space: nowrap;
  }
}

.logo {
  
  //width: 100%;
  //opacity: 0;
  margin: 25px auto;
  width: 250px;
  z-index: 50;
  
  img{
    width: 100%;;
  }
}

.ticket-type{
  border: 2px solid @border-color;
  padding: 20px;
  max-width: 300px;
  margin: 60px auto 20px;
  position: relative;
  h2{
    margin: 0;
  }
  ol{
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 5px;
    }
  }
}
.content {
  max-width: 900px;
  margin: 0 auto;
  #mixin.drop-shadow();
  .banner{
    border-bottom: 5px solid @brand-yellow;
    width: 100%;
    img{
      max-width: 100%;
    }
  }
  .texts{
    padding: 20px 15%;
    margin: auto;
    background: @brand-yellow;
    ol{
      text-align: left;
      li{
        margin-bottom: 5px;
      }
    }
    > p{
      margin: 0;
    }
  }
  
  h1 {
    text-align: center;
    .sub{
      font-size: 20px;
    }
    .head{
      font-size: 37px;
    }
    p{
      margin: 0;
    } 
  }
  .texts{
    text-align: center;
    > p {
    font-size: 20px
    }
  }
}
.gas{
  display: none;
}
.puffs{
  margin: 25px;
  #mixin.flex-display();
  #mixin.flex-flow(row wrap);
  #mixin.justify-content(space-between);
  text-align: center;
  .puff{
    display: inline-block;
    margin: 10px 25px;
    color: #565656;
    #mixin.flex(200px);
    img{
      border-radius: 50%;
    }
    h1 {
      font-weight: bold;
      font-size: 17px;
      
    }
    span{
      font-size: 15px;
    }
  }
  .flippy{
    position: relative;
    width: 200px;
    margin: auto;
    &:hover{
      .hidden{ 
        display: block;
        position: absolute;
        top: 0;
      }
    }
  }
}
.movie{
 
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.content-wrapper{
  //opacity: 0;
  //transition: opacity 1s;
  .content{
    opacity: 0;
    
    #mixin.transition(opacity 1s 5s);
    
  }
  
  &.loaded{
    opacity: 1;
    .start-text{
      //display: none;
      -webkit-animation: stext 5s 1 none;
      -moz-animation:    stext 5s 1 none;
      animation: stext 5s 1 none;
    }
    .content{
      opacity: 1;
      
    }
    /*.logo{
      -webkit-animation: logoanimation 5s 5s 1 forwards;
      -moz-animation:    logoanimation 5s 5s 1 forwards;
      animation: logoanimation 5s 5s 1 forwards;
      
    }*/
  }
  .price{
    font-size: 35px;
    position: absolute;
    right: 10px;
    #mixin.transform(rotate(30deg));
    top: 30px;
    font-weight: bold;
  }
}
.footer{
  background: @brand-yellow;
  min-height: 100px;
  > h1{
    font-size: 20px;
    padding-top: 10px;
  }
  .organizers{
    margin: 25px;
    #mixin.flex-display();
    #mixin.flex-flow(row wrap);
    #mixin.justify-content(space-between);
    text-align: left;
    
    article{
      display: inline-block;
      margin: 10px 25px;
      #mixin.flex(200px);
      text-align: center;
      h1{
        font-size: 15px;
        margin: 5px 0;
      }
      p{
        margin: 0;
        padding: 0;
        font-size: 12px;
      } 
      img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }
  }
  .mail{
    padding: 20px 10px;
    text-align: center;
    display: block;
  }
}

@-webkit-keyframes stext { 
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes stext { 
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes stext { 
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
@-webkit-keyframes logoanimation { 
  0% {
    left: 50%;
    top: 30%;
    margin-left: 0;
    opacity: 0;
    width: 0px;
    
    #mixin.transform(rotate(-800deg));
  }
  30% {
    left: 50%;
    top: 30%;
    opacity: 1;
    margin-left: -450px/2;
    width: 100vw;
    max-width: 450px;
    #mixin.transform(rotate(28deg));
  }
  32%{
    #mixin.transform(rotate(23deg));
  }
  36%{
    #mixin.transform(rotate(26deg));
  }
  40%{
    #mixin.transform(rotate(24deg));
  }
  44%{
    #mixin.transform(rotate(25deg));
  }
  80%{
    left: 50%;
    top: 30%;
    opacity: 1;
    margin-left: -450px/2;
    width: 100vw;
    max-width: 450px;
    #mixin.transform(rotate(25deg));
  }
  100%{
    opacity: 1;
    #mixin.transform(rotate(0deg));
    left: 20px;
    top: 20px;
    margin-left: 0;
    width: 150px;
    max-width: 150px;
  }
}
@-moz-keyframes logoanimation { 
  0% {
    left: 50%;
    top: 30%;
    margin-left: 0;
    opacity: 0;
    width: 0px;
    #mixin.transform(rotate(-800deg));
  }
  30% {
    left: 50%;
    top: 30%;
    opacity: 1;
    margin-left: -450px/2;
    width: 100vw;
    max-width: 450px;
    #mixin.transform(rotate(28deg));
  }
  32%{
    #mixin.transform(rotate(23deg));
  }
  36%{
   #mixin.transform(rotate(26deg));
  }
  40%{
    #mixin.transform(rotate(24deg));
  }
  44%{
    #mixin.transform(rotate(25deg));
  }
  80%{
    left: 50%;
    top: 30%;
    opacity: 1;
    margin-left: -450px/2;
    width: 100vw;
    max-width: 450px;
    #mixin.transform(rotate(25deg));
  }
  100%{
    opacity: 1;
    #mixin.transform(rotate(0deg));
    left: 20px;
    top: 20px;
    margin-left: 0;
    width: 150px;
    max-width: 150px;
  }
}
@keyframes logoanimation { 
  0% {
    left: 50%;
    top: 30%;
    margin-left: 0;
    opacity: 0;
    width: 0px;
    #mixin.transform(rotate(-800deg));
  }
  30% {
    left: 50%;
    top: 30%;
    opacity: 1;
    margin-left: -450px/2;
    width: 100vw;
    max-width: 450px;
    #mixin.transform(rotate(28deg));
  }
  32%{
    #mixin.transform(rotate(23deg));
  }
  36%{
    #mixin.transform(rotate(26deg));
  }
  40%{
    #mixin.transform(rotate(24deg));
  }
  44%{
    #mixin.transform(rotate(25deg));
  }
  80%{
    left: 50%;
    top: 30%;
    opacity: 1;
    margin-left: -450px/2;
    width: 100vw;
    max-width: 450px;
    #mixin.transform(rotate(25deg));
  }
  100%{
    opacity: 1;
    #mixin.transform(rotate(0deg));
    left:45%;
    top: 520px;
    margin-left: 0;
    width: 150px;
    max-width: 150px;
  }
}
*/
@media only screen and (min-width: 0px) and (max-width: 520px) {
  .start-text{
    width: 96vw;
    font-size: 5vw;
  }
}