body {
    background-color: yellow;
}

input {
    font-size: 200px;
    border: 0;
    background-color: transparent;
    text-decoration: underline;
}

.login-panel {
    max-width: 500px;
    margin: auto;

    button {
        width: 100%;
        background-color: cornflowerblue;
        border: 0;
        height: 25px;
    }
}